@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Expense App</h1>
    <p>
        Augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros.
    </p>
    <p><a href="https://docs.microsoft.com/aspnet/core">ASP.NET Razor Pages Sample App</a>.</p>
</div>
