@model Models.CultureSwitcherModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor http
<div>
    <form id="culture-switcher" asp-page="Index" asp-page-handler="ChangeLang" asp-route-returnUrl="@http.HttpContext.Request.Path">
        @*<form id="culture-switcher">*@
        <select name="culture" id="culture-options">
            <option></option>
            @foreach (var culture in Model.SupportedCultures)
            {
                <option value="@culture.Name" selected="@(Model.CurrentUICulture.Name == culture.Name)">@culture.DisplayName</option>
            }
        </select>
    </form>
</div>


<script>
    document.getElementById("culture-options").addEventListener("change", () => {
        document.getElementById("culture-switcher").submit();
    });
</script>