@page "{id:int:min(1):max(100)}"
@*@page "/blog-category/{id:int}"*@
@*@page "{name:alpha:minlength(5):maxlength(30)}"*@

@model WebApplication_RazorPagesProject.Pages.Blog.CategoryModel
@{
}

<h1>Blog Category page</h1>
<hr />