@page "{id?}/{title?}"
@model WebApplication_RazorPagesProject.Pages.Blog.PostModel
@{
}
<h1>Blog Post</h1>
<hr />

<b>Reserved words</b><br />
action<br />
area<br />
controller<br />
handler<br />
page