@model TodoAppWithMvcAjaxHelpers.Todo

<div id="modal_delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Task : @Model.Text</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="delete_panel">
                    @Html.Action("Delete", new { id = Model.Id })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <div class="text-right">
                    <input type="button" value="Delete" class="btn btn-danger" onclick="$('#modal_delete form').submit();" />
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#modal_delete").modal("show");

            $('#modal_delete').on('hidden.bs.modal', function (e) {
                $("#modal_delete").remove();
            });
        });
    </script>
</div>